<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-us" lang="en-us">
<head>

    {% load staticfiles %}
    {% load custom_templates %}

    <title>Nanosourcer - Unauthorized Access</title>

    <meta http-equiv="cache-control" content="no-cache, no-store, must-revalidate" />  

    <link rel="stylesheet" type="text/css" href="{% static "src/css/main.min.css" %}"/>

</head>

<body>

<div class="mainContentFrame">

    <h3 class="pageTitle">
        Nanosourcer - Unauthorized Access
    </h3>

    <div class="errorTextBox">

        <h4 class="pageSubTitle">
            Instructor View can only be navigated in the Canvas site.
        </h4>


        {% if return_url %}
            <p></p>
            <a target="_parent" href="{{ return_url }}">Return to Canvas Course page</a>
        {% endif %}

    </div>

</div>

<script>

    function sendLtiFrameResizeMessage(offset) {

        var container = window.parent,
                isInFrame = _.isFunction(container.postMessage);

        /*
         function sendResizeMessage(offset) {
         if (isInFrame) {
         var message = '{ "subject": "lti.frameResize", "height": ' + ($('body').height() + offset) + ' }';
         container && typeof container.postMessage =='function'&& container.postMessage(message, '*');
         }
         }
         */

        offset = 40;

        if (isInFrame) {
            parent.postMessage(
                    JSON.stringify({
                        subject: 'lti.frameResize',
                        height: $(document).height() + offset + "px"
                    }), '*');
        }
    }


    $(document).ready(function () {
        sendLtiFrameResizeMessage(40);
    });

</script>


</body>
</html>


