option_settings:
  "aws:elasticbeanstalk:application:environment":
    DJANGO_SETTINGS_MODULE: "django_nanosourcer.settings"
    PYTHONPATH: "/opt/python/current/app/django_nanosourcer:$PYTHONPATH"
  "aws:elasticbeanstalk:container:python":
    WSGIPath: "django_nanosourcer/wsgi.py"
    StaticFiles: /static/=django_nanosourcer/static/
    NumProcesses: 1
    NumThreads: 15
  "aws:elasticbeanstalk:container:python:staticfiles":
    /static/: django_nanosourcer/static/
container_commands:
  09_migrate:
    command: "source /opt/python/run/venv/bin/activate && python ./manage.py migrate"
    leader_only: true
  10_setup_bash_profile:
    command: |
         echo "Overwriting ~ec2-user/.bashrc file"
         cp scripts/bashrc ~ec2-user/.bashrc
         chown ec2-user.ec2-user ~ec2-user/.bashrc
         chmod 644 ~ec2-user/.bashrc
  20_file_perms:
    command: |
         echo "Setting file permissions"
         chmod g+w,o+w db/ddl/queries
         chmod 777 log
         touch log/main.log
         chmod 777 log/main.log
