container_commands:
  00_install_apache_config:
    command: |
        if [ "${UTLS_SERVER_ENV}" == "PROD" ]; then
            echo "this is PROD environment"
            cp scripts/wsgi.conf.prod /etc/httpd/conf.d/wsgi.conf
            cp scripts/ssl.conf.prod /etc/httpd/conf.d/ssl.conf
            chmod 644 /etc/httpd/conf.d/wsgi.conf
            chown root.root /etc/httpd/conf.d/wsgi.conf
            chmod 644 /etc/httpd/conf.d/ssl.conf
            chown root.root /etc/httpd/conf.d/ssl.conf
        elif [ "${UTLS_SERVER_ENV}" == "BETA" ]; then
            echo "this is BETA environment"
            cp scripts/wsgi.conf.beta /etc/httpd/conf.d/wsgi.conf
            cp scripts/ssl.conf.beta /etc/httpd/conf.d/ssl.conf
            chmod 000644 /etc/httpd/conf.d/wsgi.conf
            chown root.root /etc/httpd/conf.d/wsgi.conf
            chmod 000644 /etc/httpd/conf.d/ssl.conf
            chown root.root /etc/httpd/conf.d/ssl.conf
        elif [ "${UTLS_SERVER_ENV}" == "DEV" ]; then
            echo "this is DEV environment"
        fi  
  99_restart_apache:
    command: |
        killall httpd
        sleep 3

