// UT Brand Colors

$ut-color-burnt-orange: #BF5700;
$ut-color-blue-grey: #333F48;
$ut-color-blue: #005F86;
$ut-color-green: #43695B;
$ut-color-yellow: #F2A900;
$ut-color-purple: #382F2D;
$ut-color-grey: #D6D2C4;




// Custom Accent Colors

$ut-color-custom-accent-light-purple: #A1887F;

// Responsive Width Dimensions

$lg-width: 70%;
$md-width: 80%;
$sm-width: 90%;
$xs-width: 100%;

$lg-width-max: 4000px;
$lg-width-min: 1200px;
$md-width-max: 1199px;
$md-width-min: 1000px;
$sm-width-max: 999px;
$sm-width-min: 750px;
$xs-width-max: 749px;
$xs-width-min: 0;

$lg-card-padding: 20px;
$md-card-padding: 17px;
$sm-card-padding: 15px;
$xs-card-padding: 10px;

$height-lg-max: 3000px;
$height-lg-min: 1100px;
$height-md-max: 1099px;
$height-md-min: 750px;
$height-sm-max: 749px;
$height-sm-min: 575px;
$height-xs-max: 574px;
$height-xs-min: 0;

// Navbar Dimensions

$navbar-container-height: 80px;

// Content Container

$content-container-margin-top: 15px;

