$burnt-orange-050: rgba(0, 0, 0, 1.0);
$burnt-orange-100: rgba(0, 0, 0, 1.0);
$burnt-orange-200: rgba(0, 0, 0, 1.0);
$burnt-orange-300: rgba(0, 0, 0, 1.0);
$burnt-orange-400: rgba(0, 0, 0, 1.0);
$burnt-orange-500: rgba(191, 87, 0, 1.0);
$burnt-orange-600: rgba(0, 0, 0, 1.0);
$burnt-orange-700: rgba(0, 0, 0, 1.0);
$burnt-orange-800: rgba(0, 0, 0, 1.0);
$burnt-orange-900: rgba(0, 0, 0, 1.0);
