<nav class="nav navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <div class="navbar-brand">
                <h4>NanoSourcer Admin</h4>
            </div>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/logout/?lk={{ lti_session_key }}">End Session for: {{ user_full_name }} ({{ sis_user_id }})</a></li>
            </ul>
        </div>
    </div>
</nav>



