{% load staticfiles %}

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-us" lang="en-us">

    <head>

        <meta charset="utf-8"/>
        <META HTTP-EQUIV="CACHE-CONTROL" CONTENT="NO-CACHE">
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

        {% load staticfiles %}

        <title>NanoSourcer</title>

        <link rel="stylesheet" type="text/css" href="{% static "dist/nanosourcer.css" %}">
        <script type="text/javascript" src="{% static "dist/nanosourcer.min.js" %}"></script>

        <script type="application/javascript">

            courseConfig = {{ init_course_config|safe }};

            init_page_session(courseConfig);

        </script>

    </head>

    <body></body>

</html>

